body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  cursor: pointer;
  background-color: #17601a;
  color: rgb(16, 1, 1);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
}